.container {
   width: 100%;
   max-width: 550px;
   margin: 10px;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 1px solid white;
   background-color: #303030;
}

.container .span {
   display: block; /* Ensure spans take up the full width */
   width: 100%; /* Allow spans to use full container width */
   word-wrap: break-word; /* Break long words */
   overflow-wrap: break-word; /* Break long words in modern browsers */
   white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
   text-align: left; /* Avoid center alignment for text content */
   font-size: larger;
   margin-bottom: 5px;
}

.containerspan {
   width: 100%;
   max-width: 600px;
   margin: 10px;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 1px solid white;
   background-color: #303030;
   text-align: center;
   font-size: larger;
}

.container-main {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.container-main .container {
   flex: 1 1 calc(33.333% - 20px);
   box-sizing: border-box;
}

.odstrani {
   margin-left: 2px;
   margin-top: 3px;
   background-color: red;
   color: white;
   border: none;
   padding: 5px 10px;
   border-radius: 4px;
   cursor: pointer;
}

.dodaj {
   margin-top: 5px;
}

.odstrani:hover {
   background-color: red;
}

.container .kategorijespan {
   text-align: center;
   font-size: larger;
}

.uporabnikispan {
   text-align: center;
}

.mt2 {
   margin-top: 10px;
}